/* -------------------------------------/
/--- 1. IMPORT
/ -----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Big+Shoulders+Text:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*________________________________*/
/*    1. ROOT
________________________________*/
:root {
/* ________________________________________
font family */
   --ff-titles: 'Anton', sans-serif;
   --ff-body: 'Rubik', sans-serif;
/* _______________________________________
font size */
   --fs-small: calc(8px + .2vw);
   --fs-medium: calc(10px + .2vw);
   --fs-big: calc(12px + .3vw);
   --fs-body: calc(10px + .3vw);
   --fs-h1: calc(40px + 1vw);
   --fs-h2: calc(21px + .4vw);
   --fs-h3: calc(18px + .4vw);
   --fs-h4: calc(14px + .4vw);
/* ________________________________________
colors */
   --c-bg: #f1f1f1;
   --c-white: #f1f1f1;
   --c-grey-light: #e6e6e6;
   --c-grey: rgba(128, 128, 128, 0.897);
   --c-grey-dark: #3a3a3a;
   --c-black: #111111;

   --c-1: #5972ff;
   --c-2: #1edfb5;
   --c-3: #b1afaf69;

/* ________________________________________
transitions & animation */
   --trans-bg-color: background-color .25s, color .25s;
   --anim-slide-down: slide-down 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   --anim-slide-right: slide-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
/* ________________________________________
shadow */
   --bs: 0px 0px 25px rgba(0,0,0, 2);
   --ts-white: 3px 3px 3px #fbffc173;
   --ts-black: 5px 5px 5px #00000088;
}

/*________________________________*/
/*    2. RESET CSS
________________________________*/
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: var(--c-grey-light);
}
::-webkit-scrollbar {
   width: 13px;
   background-color: var(--c-grey-light);
}
::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
   box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
   background-color: var(--c-5);
}
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
}
html {
   height: 100%;
   margin: 0;
   padding: 0;
}
body {
   font-family: var(--ff-body);
   font-size: var(--fs-body);
   color: var(--c-black);
   background-color: var(--c-bg);
   height: 200vh;
}
a,
.hover-item {
   text-decoration: none;
   color: inherit;
   cursor: pointer;
   color: var(--c-black);


}
a:hover,
.hover-item:hover {
   cursor: pointer;
   color: var(--c-black);

}
ul,
ol,
li {
   list-style: none;
}
img {
   max-width: 100%;
   vertical-align: middle;
}
strong {
   font-weight: 800;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
input::placeholder {
   font: inherit;
}
h1,
h2,
h3,
h4 {
   font-family: var(--ff-titles);
}
h1 {
   font-size: var(--fs-h1);
   line-height: 1;
}
h2 {
   font-size: var(--fs-h2);
}
h3 {
   font-size: var(--fs-h3);
}
h4 {
   font-size: var(--fs-h4);
}

/*________________________________*/
/*    3. REUSABLE CLASSES
________________________________*/
.container {
   margin: 0 .877rem;
}
.wrapper {
   padding: 0 .877rem;
}
.flex-item {
   display: flex;
}
.flex-wrap {
   display: flex;
   flex-wrap: wrap;
}
.flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}
.flex-between {
   display: flex;
   justify-content: space-between;
}
.flex-around {
   display: flex;
   justify-content: space-around;
}
.flex-end {
   display: flex;
   align-items: flex-end;
}
.flex-start {
   display: flex;
   align-items: flex-end;
}
.left {
   display: flex;
   left: 0;
   justify-content: left;
}
.right {
   display: flex;
   right: 0;
   justify-content: right;
}
.flex-column {
   display: flex;
   flex-direction: column;
}
.icon-small {
   font-size: 1.25em;
}
.icon-large {
   font-size: 1.65em;
}
.desktop-hide {
   display: none;
}

/*________________________________*/
/*    4.HEADER
________________________________*/
nav {
   display: flex;
   align-items: center;
   border-bottom: 1px solid var(--c-black);
}
nav .nav-desktop {
   width: 100%; height: 75px;
   align-items: center;
}
nav .nav-desktop ul {
   width: 100%;
   gap: 2.5rem;
}
nav ul li {
   gap: .377rem;
   text-transform: uppercase;
   font-size: var(--fs-h4);
}
nav ul li a {
   gap: .377rem;
   text-transform: uppercase;
   font-size: var(--fs-h4);
}




.header-title {
   margin: 2rem 0;
   width: 100%;
}
.header-title h1 {
   width: 100%; height: 60vh;
   color: var(--c-black);
   font-weight: 400;
   text-align: justify;
   text-transform: uppercase;
}





/*________________________________*/
/*    MEDIA QUERY
________________________________*/
@media screen and (max-width: 780px) {
   .mobile-hide {
      display: none;
   }
   .desktop-hide {
      display: inline-flex;
   }
}
@media screen and (min-width: 781px) {
   .desktop-hide {
      display: none;
   }
}



/*________________________________*/
/*    KEYFRAMES
________________________________*/

@-webkit-keyframes slide-down {
   0% {
      -webkit-transform: translatey(-50px);
      transform: translatey(-50px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translatey(0);
      transform: translatey(0);
      opacity: 1;
   }
}
@keyframes slide-down {
   0% {
      -webkit-transform: translatey(-8px);
      transform: translatey(-8px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translatey(0);
      transform: translatey(0);
      opacity: 1;
   }
}


@-webkit-keyframes slide-down {
   0% {
      -webkit-transform: translatey(-50px);
      transform: translatey(-50px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translatey(0);
      transform: translatey(0);
      opacity: 1;
   }
}
@keyframes slide-down {
   0% {
      -webkit-transform: translatey(-8px);
      transform: translatey(-8px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translatey(0);
      transform: translatey(0);
      opacity: 1;
   }
}

.ball-left {
   background:
     radial-gradient(circle closest-side,#fff 97%,#000 ) ,
     radial-gradient(circle closest-side,#000 97%,#0000 );
   -webkit-background-clip: text, padding-box;
           background-clip: text, padding-box;
   background-size: 190% 100%;
   background-position: right;
   background-repeat: no-repeat;
   transition: 1s linear;
 }
 .ball-left:hover {
   background-position:left;
 }






#zig-zag-wrapper{
   background: #e4d60c00;
}

#zig-zag-wrapper {
   padding: 40px 0;
}
#zig-zag-wrapper:after{
   background:
      linear-gradient(-45deg, transparent 16px, #000000 0),
      linear-gradient(45deg, transparent 16px, #000000 0);
   background-repeat: repeat-x;
   background-position: left bottom;
   background-size: 22px 32px;
   content: "";
   display: block;
   width: 100%;
   height: 50px;
   position: fixed;
   top:60px;
   left:0px;
}
